<footer class="bg-secondary p-5 shadow-sm">


    <ul>
        <li>
            <a
                    class="link-light"
                    href="{{ url('app_legals') }}"
            >
                Nous rejoindre
            </a>
        </li>
        <li>
            <a
                class="link-light"
                href="{{ url('app_legals') }}"
            >
                Conditions d'utilisation
            </a>
        </li>
        <li>
            <a
                class="link-light"
                href="{{ url('app_legals') }}"
            >
                Mentions légales
            </a>
        </li>
    </ul>


</footer>