<div id="tweet-{{ tweet.id }}" class="tweet card mb-3">

    <div class="card-header d-flex justify-content-between">

        <div class="d-flex">
            <a href="{{ path('app_tweet_single', { id: tweet.id }) }}" class="link-dark pr-2">
                <strong>#{{ tweet.id }}</strong>
            </a>

            <div class="author">
                <a href="{{ path('app_user_profile', { id: tweet.author.id }) }}">
                    {{ tweet.author.username }}
                </a>
            </div>
        </div>
        
        <div class="tweet_date">
            Le {{ tweet.createdAt | format_datetime("long", locale="fr") }}
        </div>

    </div>

    <div class="card-body">

        <p class="card-text">
            {{ tweet.message }}
        </p>

    </div>

    <div class="card-footer">
        <a href="{{ path('app_tweet_single', { id: tweet.id }) }}" class="link-dark">
            <img src="{{ asset('img/chat-left-text.svg') }}" alt="">

            {{ tweet.nbComments }}
        </a>

        <a href="{{ path('app_tweet_like', { id: tweet.id }) }}" class="link-dark">

            {% if app.user and app.user.doesLike(tweet) %}
                <img src="{{ asset('img/heart-fill.svg') }}" alt="">
            {% else %}
                <img src="{{ asset('img/heart-empty.svg') }}" alt="">
            {% endif %}


            {# TODO: optmize these queries with a single Join Query (in repository) #}
            {{ tweet.likers | length }}
        </a>
    </div>
</div>