{% extends "_layouts/default.html.twig" %}

{% block main %}

    <h1>Conditions d'utilisation</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam, animi asperiores beatae consectetur cumque deleniti dolores eaque earum fugit ipsam iusto maxime molestiae officia quam quisquam repellendus ullam voluptate.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate earum maiores nesciunt nihil, pariatur qui sint suscipit. Adipisci aliquam animi atque autem commodi, cupiditate eaque exercitationem incidunt optio possimus quaerat?
    </p>
{% endblock %}