{% extends "_layouts/two-columns.html.twig" %}

{# Ici, on écrase complètement le contenu déja défini dans le template parent #}
{% block title %}
    Bienvenue sur Instafrep
{% endblock %}


{% block header %}
    <header class="bg-light p-5">
        <div class="container">
            <h1 class="h1"> Bienvenue sur LinkedIn'frep </h1>
            <hr>
            <p class="lead">
                Du code et du fun !
            </p>
        </div>
    </header>
{% endblock %}

{% block mainColumn %}

    <h2 class="h1">Les derniers tweets</h2>
    {% for tweet in tweets %}
        {% include "_partials/_tweet.html.twig" %}
    {% endfor %}
{% endblock %}

{% block stylesheets %}

    {# Ici, on récupère le contenu déja défini dans le template parent #}
    {{ parent() }}

    {# Et on rajoute ce dont on a besoin, on dit qu'on surcharge le bloc #}
    <style>
        h1  {
            font-size: 80px;
        }
    </style>

{% endblock %}

{% block sidebar %}

    {# On rend le formulaire "tweetForm", en utilisant la fonction form() #}
    {# {{ form(tweetForm) }} #}


    {% if app.user %}

    <h2>
        Exprime toi !
    </h2>

    {{ form_start(tweetForm) }}

        <div class="mb-3">
            {{ form_label(tweetForm.message) }}
            {{ form_widget(tweetForm.message) }}
        </div>

        <div class="mb-3">
            {{ form_row(tweetForm.save) }}
        </div>

    {{ form_end(tweetForm) }}

    {% else %}

        <a href="{{ path('app_login') }}">
            Connexion
        </a>

    {% endif %}


{% endblock %}