{% extends '_layouts/centered.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}

    <h1 class="text-center mb-4">Connecte toi </h1>

    {{ form_start(loginForm) }}

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="mb-3">
            {{ form_row(loginForm.username) }}
        </div>

        <div class="mb-3">
            {{ form_row(loginForm.password) }}
        </div>


    {#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
    {#        See https://symfony.com/doc/current/security/remember_me.html#}

    {#        <div class="checkbox mb-3">#}
    {#            <label>#}
    {#                <input type="checkbox" name="_remember_me"> Remember me#}
    {#            </label>#}
    {#        </div>#}


        <div class="d-flex justify-content-between">

            <a href="{{ path('app_register') }}">Je n'ai pas de compte</a>

            {{ form_row(loginForm.submit) }}
        </div>

    {{ form_end(loginForm) }}





{% endblock %}
