{% extends '_layouts/centered.html.twig' %}

{% block title %}Créé ton compte LinkedIn'frep !{% endblock %}

{% block main %}

    <h1 class="text-center mb-4">Inscris toi !</h1>

    {{ form_start(registrationForm) }}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="mb-3">
        {{ form_row(registrationForm.username) }}
    </div>
    <div class="mb-3">
        {{ form_row(registrationForm.plainPassword) }}
    </div>
    <div class="mb-3">
        {{ form_row(registrationForm.email) }}
    </div>
    <div class="mb-3">
        {{ form_row(registrationForm.fullName) }}
    </div>
    <div class="mb-3">
        {{ form_row(registrationForm.birthDate) }}
    </div>
    <div class="mb-3">
        {{ form_row(registrationForm.agreeTerms) }}
    </div>

    <div class="d-flex justify-content-between">

        <a href="{{ path('app_login') }}">J'ai déjà un compte</a>

        {{ form_row(registrationForm.submit) }}
    </div>

    {{ form_end(registrationForm) }}


{% endblock %}

