{% extends '_layouts/two-columns.html.twig' %}

 {% block header %}

     <div class="container p-3">
        {% include '_partials/_tweet.html.twig' %}
     </div>

{% endblock %}

{% block mainColumn %}

    <h2>Commentaires</h2>

    {% for comment in comments %}
        {% include '_partials/_tweet.html.twig' with { tweet : comment } %}
    {% endfor %}
{% endblock %}