{% extends "_layouts/base.html.twig" %}

{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center bg-light min-vh-100">

        <a href="{{ path('app_home') }}">
            <img src="" alt="Logo de Instafrep" class="mb-3">
        </a>

        <div class="card card-centered">
            <div class="card-body">

                {% block main %}{% endblock %}
            </div>

        </div>


    </div>
{% endblock %}

{% block javascripts %}
    <script>
        console.log("Je suis le layout centré")
    </script>
{% endblock %}