{% extends "_layouts/base.html.twig" %}

{% block body %}

    <div class="pt-5">
        {% include "_partials/_navbar.html.twig" %}
    </div>

    {% block header %}{% endblock %}

    <div class="container pt-2">
        {% block main %}{% endblock %}
    </div>

    {% include "_partials/_footer.html.twig" %}

{% endblock %}