{% extends "_layouts/default.html.twig" %}

{% block header %}
    <header class="bg-light p-5">
        <div class="container">
            <h1 class="h1"> Liste des membres de LinkedIn'frep</h1>
            <hr>
            <p class="lead">
                Plus on est de fous, plus on rit !
            </p>
        </div>
    </header>
{% endblock %}

{% block main %}
    <ul class="list-group">

        {% for user in users %}

            <li class="list-group-item">

                <div class="user">
                    <p class="username">
                        <a href="{{ path('app_user_profile', { id: user.id }) }}">
                        <strong>{{ user.username }}</strong>

                        {% if (user.fullName) %}
                         <span>({{ user.fullName }})</span>
                        {%  endif %}

                        </a>
                    </p>

                    <p class="createdAt">
                        <i>Inscrit le {{ user.createdAt | date('d/m/Y') }}</i>
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
