{% extends "_layouts/two-columns.html.twig" %}

{% block header %}
    <header class="bg-light p-5">
        <div class="container">
            <h1 class="h1"> {{ user.username }} </h1>
            <hr>
            <p class="lead">
               Inscrit le {{ user.createdAt | date('d/m/Y') }}
            </p>
        </div>
    </header>
{% endblock %}

{% block mainColumn %}

    <h2>Les derniers tweets de {{ user.username }}</h2>
    {% for tweet in tweets %}
        {% include "_partials/_tweet.html.twig" %}
    {% endfor %}
{% endblock %}



{% block sidebar %}

    <h2>A propos</h2>

    <ul class="list-group">
        <li class="list-group-item">
            <strong>Nom complet : </strong>{{ user.fullName }}
        </li>

        <li class="list-group-item">
            <strong>Age : </strong> {{ user.age is empty ? 'Non renseigné' : user.age ~ ' ans'  }}
        </li>
        <li class="list-group-item">
            <strong>Anniversaire : </strong>{{ user.birthDate ? user.birthDate | date('d/m/Y') : 'Non renseigné' }}
        </li>
    </ul>
{% endblock %}